﻿#banner{
    background-color: #2E95A1;
    height: 150px;
}
#navBar{
    margin-top: 115px;
    padding: 0 0 0 15px;    
    border-radius: 25px;
    width: 370px;
    height: 30px;
    text-align: center;
}
.navText{    
    color: black;
}
.header-text{
    text-align: center;
    color:white;
    font-size: 48px;
    margin-top: 10px;

}
.sub-header-text{
    text-align:center;
    color: black;
    font-size: 24px;
    margin-bottom: 5px;
}
#socialmedia{
    padding-left: 200px;
}
.social-media-icons{       
       height: 35px;
       margin-top: 102px;       
       padding: 2px,2px,2px,2px;
       border-radius: 25px;
}
.header-border{
    border-bottom: 5px solid black;     
}
.body-background{
    background-color: #154687;
}
.profile-picture{
    margin-left: 30%;
    margin-top: 140px;
    height: 400px;
    width: 250px;  
    border-radius: 10%;
}
.about-me{
    background-color: #2E95A1;
    margin-top: 90px;
    color: white;
    border-radius: 10px
}

.computer-picture {
    margin-left: 25%;
    margin-top: 35%;
    height: 300px;
    width: 300px;
    border-radius: 10%;
}
.about-me-underline{
    border-bottom: 1px solid white;
}
.about-me-text{
    font-size: 18px;
    padding-left: 9px;
   
}
#footer{    
    margin-top: 500px;
    color: white;
    font-size: 12px;
    background-color: #2E95A1;
    border-top: 5px solid black;
    height: 79px;
    width:100.80%
}
.footer-text{
    margin-top: 30px;
    padding-left: 5px;
}
.link-text {
    color:black;
}
.recent-projects-header{
    color: white;
    border-bottom: 1px solid white;    
    text-align:center;
    margin-top: 40px;
}
.falling-blocks-img{
    height: 300px;
    width: 300px;
    margin-left: 150px;
    margin-top: 50px;
}
.senior-project-img {
    height: 300px;
    width: 300px;
    margin-left: 150px;
    margin-top: 50px;
}
.game-text{
    color: white;
    font-size: 24px;
}
#contact{
    text-align: center;    
    background-color: #2E95A1;
    margin-top: 500px;
}
.link{
    color: darkblue;
}
.contact-p{
    color:white;
}